.property-list {
  /* Content is center horizontally */
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;

  border-bottom: 1px solid #d1d5db;

  /* Spacing */
  margin: 0;
  padding: 1rem 0;
}
.property-list__key {
  /* Take the available width */
  flex: 1;
}
.property-list__value {

  flex: 1;
}

.spinner {
  /* Size */
  height: 4rem;
  width: 4rem;

  /* Create a curve at the top */
  border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;

  animation: spinner 800ms linear infinite;
}

@media screen and (max-width: 768px) {
  .property-list {
    /* Content is center horizontally */

    display: block;

    border-bottom: 1px solid #d1d5db;

    /* Spacing */
    margin: 0;
    padding: 1rem 0;
  }
  .property-list__key {
    /* Take the available width */
    flex: 1;
  }
  .property-list__value {
    margin-left: 0;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
